boto3~=1.26.90
python-json-logger~=0.1
dicttoxml~=1.7.4
cumulus-message-adapter-python @ file:///Users/kovarik/workspace/cumulus-message-adapter-python/dist/cumulus_message_adapter_python-2.4.0.tar.gz